<?xml version="1.0" encoding="UTF-8"?>
<configuration name="ManageLogConfig" status="INFO" monitorInterval="300">
    <properties>
        <property name="MAX_FILE">50</property>
        <property name="FILE_SIZE">50MB</property>
        <property name="FILE_NAME">logs/logic.log</property>
        <property name="FILE_PATTERN">
            logs/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd}-%i.log
        </property>
        <property name="MESSAGE_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
        </property>
    </properties>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${MESSAGE_PATTERN}"/>
        </Console>
        <RollingRandomAccessFile name="File" fileName="${FILE_NAME}"
                                 filePattern="${FILE_PATTERN}">
            <PatternLayout pattern="${MESSAGE_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy max="${MAX_FILE}"/>
        </RollingRandomAccessFile>
    </appenders>
    <Loggers>
        <asyncRoot level="info">
            <!--            <AppenderRef ref="File"/>-->
            <AppenderRef ref="Console"/>
        </asyncRoot>
        <logger name="com.pangu" level="DEBUG"/>
    </Loggers>
</configuration>